.card {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 8px 8px 16px #C8C9CE, -8px -8px 16px #FFFFFF; /* Neomorphic shadow */
  width: 250px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px #f2f2f2, -5px -5px 10px #f2f2f2; /* Hover effect */
}

.card-image {
  margin-bottom: 20px;
  height: 240px;
  background-color: #FFFFFF;
  border-radius: 15px;
  display:block;
  justify-content: center;
  box-shadow: 4px 4px 8px #C8C9CE, -4px -4px 8px #FFFFFF;
}

.card-image img {
  padding-top: 10px;
  width: 80%;
  
   /* Neomorphic shadow for image */
}

.card h3 {
  margin-top: 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: gray;
}

.price {
  color: #00aaff; /* Adjust color as needed */
}


.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  font-weight: bold;
}

.status.solved {
  color: #ADD8E6; /* Light blue */
}

.status.unsolved {
  color: #FFA07A; /* Light red */
}